:root { /* refers to the <html> tag */
    --green: #00FF00; 
    --white: #ffffff; 
    --black: #000000; /* define global set of variables for <html> */
} 

* { /* universal selector that applies to all elements */
    color: var(--fontColor); 
    font-family: helvetica; 
} 
body { 
    background: var(--bg); 
} 
 
ul { 
    font-family: helvetica; 
} 
 
img { 
    width: 200px; 
} 

li { 
    list-style: circle; 
}  

.list { 
    list-style: square; 
} 

#msg { 
    font-family: monospace; 
}

.light-theme { 
    --bg: var(--green); 
    --fontColor: var(--black); 
} 
.dark-theme { 
    --bg: var(--black); 
    --fontColor: var(--green); 
} 